:host {
  display: block;
}

div.background-image-container {
  position: relative;
  overflow: hidden;
  line-height: 0;
}

.background-image {
  display: block;
}

.background-image > img {
  position: static;
  z-index: auto;
  display: block;
  width: 100%;
  height: auto;
  object-fit: contain;
  object-position: center top;
  background-color: transparent;
}

small.credits {
  display: none;
}

.home-news-text {
  margin-top: 0;
  padding-top: 0.5rem;
  padding-bottom: 0.25rem;
}

.jumbotron {
  background-color: transparent;
  margin-bottom: 0;
}

.display-3,
.display-5 {
  word-break: break-word;
}

a {
  color: var(--ds-home-news-link-color);

  @include hover {
    color: var(--ds-home-news-link-hover-color);
  }
}